<div class="container-detail">
  <div class="container__product">

    <div class="product__primary-info">
      <div class="product__images">
        <div class="images__primary-image">
          <img src="" alt="imagen del producto" height="500">
        </div>
        <div class="images__other-images">
          <ul>
            <li>
              <a href=""></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="product__description-product">
        <h2 class="description-product__title">{{product().title}}</h2>
        <div class="description-product__stock">
          <p><strong>ID</strong> {{product().idProduct}}</p>
          <p>Quedan {{product().stock}} unidades</p>
        </div>
        <hr>
        <div class="description-product__info">
          <p>Por {{product().brand}}</p>
          <!-- <div class="description-product__discount-percentage" *ngIf="product.offer">
            <p class="description-product__percentage">{{product.offer.percentage_discount}}%</p>
          </div> -->
          <div class="description-product__prices">
            <!-- <div *ngIf="!product.offer && product.stock >= quantity">
              <p class="prices__price">$ {{product.price | number}}</p>
            </div>
            <div *ngIf="product.offer || product.stock < quantity">
              <p class="prices__price"><s>$ {{product.price | number}}</s></p>
            </div> -->
            <p class="prices__text">Precio de Referencia</p>

            <!-- <p class="prices__price" *ngIf="product.offer">$ {{product.discount_price | number}}</p>
            <p class="prices__text" *ngIf="product.offer">Precio de Descuento</p> -->

            <p class="prices__price">{{product().price | currency: 'CLP'}}</p>
          </div>
          @if (product().stock < quantity()) {
            <p class="prices__aviable">No Disponible</p>
          }
          <div class="description-product__cart">
            <div class="description-product__container-add-cart">
              <button class="description-product__btn-add" (click)="sumQuantity()">
                +
              </button>
              <p class="description-product__quantity">{{quantity()}}</p>
              <button class="description-product__btn-substract" (click)="subQuantity()">
                -
              </button>
            </div>
            <button class="description-product__btn-add-cart" (click)="addCart(product().idProduct)" [disabled]="product().stock < quantity()">Añadir al Carrito <i class='bx bxs-cart-add bx-sm'></i></button>
          </div>
        </div>
        <div class="description-product__description">
          <div class="description-product__tab">
            <button class="description-product__tablinks">Descripción</button>
            <button class="description-product__tablinks">Despacho</button>
            <button class="description-product__tablinks">Cambios y Devoluciones</button>
          </div>
          <div class="description-product__content">
            <p>{{product().description}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="product__slider">
      <h3 class="slider__title">Productos Relacionados</h3>
      <div class="slider__slider-wrapper">
        <swiper-container #swiper pagination="false" effect="coverflow" grab-cursor="false" slides-per-group="4" slides-per-view="4" speed="1200">
          @for (productCategory of productList(); track $index) {
            @if(productCategory.idProduct !== product().idProduct){
              <swiper-slide>
                <app-card (eventProduct)="eventProductGet($event)" [product]="productCategory" [reload]="true" class="slider-wrapper__card-item"></app-card>
              </swiper-slide>
            }
          }
        </swiper-container>
        <div class="slider__container-btns">
          <button (click)="prevSwiper()" class="slider__btn-next">
            <i class='bx bx-chevron-left bx-md'></i>
          </button>
          <button (click)="nextSwiper()" class="slider__btn-prev">
            <i class='bx bx-chevron-right bx-md'></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
