<div class="container">
  <div class="container__container-fluid">
    <h2 class="container-fuid__title">¿Olvidaste tu Contraseña?</h2>
    <p class="container-fuid__text">
      No te preocupes ingresa tu correo aqui y te enviaremos un link para que puedas resetear tu contraseña
    </p>
    <form class="container-fuid__form" novalidate [formGroup]="formForgotPassword" (ngSubmit)="sendEmail()">

      <div class="mb-3">
        <label for="emailInput" class="form-label">Correo</label>
        <input type="email" class="form-control form__input" id="emailInput" formControlName="email" [ngClass]="{
          'is-invalid': email.invalid && (email.dirty || email.touched)
        }">

        @if(email.getError("required")){
          <span class="invalid-feedback">Este campo es requerido</span>
        }
        @if(email.getError("email")){
          <span class="invalid-feedback">Tiene que ingresar un correo valido</span>
        }
        @if(email.getError("maxlength")){
          <span class="invalid-feedback">Tiene que ser maximo de 255 caracteres</span>
        }
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success">Enviar <i class='bx bx-mail-send bx-sm'></i></button>
      </div>
      <a href="" [routerLink]="['/auth/login']" class="form__link">Ya recorde mi contraseña</a>
    </form>
  </div>
</div>
