@import '../../../themes/variables.scss';

.container-main__continaer-inputs{

  width: 90%;
  display: flex;
  margin: auto;
  background-color: $color-light;
  padding: 1.4rem;
  box-shadow: 4px 4px 8px -6px $color-dark-300;

  .contianer-inputs__container-search{

    width: 40%;
    margin-right: 2rem;

    .continaer-inputs__search{
      padding: 0.6rem;
      border: 1px solid $color-dark-300;
      border-right: none;
      transition: box-shadow .3s ease-in-out;
    }

    .continaer-inputs__btn-search{

      display: flex;
      align-items: center;

      i{
        font-size: 1.5rem;
      }
    }
  }

  .container-inputs__container-filter{

    display: flex;

    .continaer-inputs__btn-filter{

      padding: 0 0.6rem;
      margin-left: 1rem;
      cursor: pointer;
      transition: background .3s ease-in-out;
    }

    select {
      padding: 8px;
      font-size: 14px;
      border: 1px solid $color-dark-300;
      border-radius: 4px;
      transition: box-shadow .3s ease-in-out;
    }

    select:focus {
      outline: none;
      border-color: $color-success-700;
      box-shadow: 0 0 8px $color-dark-400;

    }
  }
}
