@let listProductsVar = listProducts();
@let listCategoriesVar = listCategories();
@let currentPageVar = currentPage();
@let isLoadingVar = isLoading();

<main class="container-main">
  <div class="container-main__continaer-inputs">
    <div class="contianer-inputs__container-search">
      <input placeholder="Buscar..." type="search" #searchNameProduct class="continaer-inputs__search">
      <button (click)="searchProduct()" class="continaer-inputs__btn-search">
        <i class='bx bx-search-alt-2'></i>
      </button>
    </div>
    <div class="container-inputs__container-filter">
      <select #selectIdCategory class="continaer-inputs__select">
        <option value="0">Categoria</option>
        @for (category of listCategoriesVar; track $index) {

          <option [value]="category.idCategory">{{category.name}}</option>
        }
      </select>
      <button (click)="searchProduct()" class="continaer-inputs__btn-filter">
        <i class='bx bxs-filter-alt'></i>
        Filtrar
      </button>
    </div>
  </div>

  <div class="container-main__container-main-products">
    <div class="container-main__container-products">
      <h2 class="container-products__title">Productos</h2>
      <hr>
      @defer (when isLoadingVar) {
        <div class="container-products__products">
          @for (product of listProductsVar; track $index) {
            <app-card [product]="product" [reload]="false"></app-card>
          } @empty {

            <div class="container-products__container-message">
              <p>No se han encontrado productos</p>
            </div>
          }
        </div>
      } @placeholder {
        <div class="container-fluid d-flex justify-content-center w-100">
          <div class="py-lg-5">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
      }
    </div>

    <nav aria-label="Page navigation container-main__container-btn-pages">
      <ul class="pagination container-btn-pages__list m-0">
        <li class="page-item container-btn-pages__item">
          <button (click)="previousPage()" class="page-link text-black" [disabled]="getService.prevPage">
            Anterior
          </button>
        </li>
        <li class="page-item container-btn-pages__item">
          <p class="page-link text-black m-0">{{currentPageVar}}</p>
        </li>
        <li class="page-item container-btn-pages__item">
          <button (click)="nextPage()" class="page-link text-black" [disabled]="getService.nextPage">
            Siguiente
          </button>
        </li>
      </ul>
    </nav>
  </div>
</main>
