<header class="header">
  <app-carousel [autoSlide]="true"></app-carousel>
</header>

<main class="main-content">
  <div class="header__container-company">
    <a href="">
      <div class="header__company" id="fiskars">
        <h2 class="company__title">TODO FISKARS</h2>
      </div>
    </a>
    <a href="">
      <div class="header__company" id="seller">
        <h2 class="company__title">BEST SELLER</h2>
      </div>
    </a>
    <a href="">
      <div class="header__company" id="garden">
        <h2 class="company__title">TODO PARA TU HUERTA</h2>
      </div>
    </a>
    <a href="">
      <div class="header__company" id="gilmour">
        <h2 class="company__title">TODO GILMOUR</h2>
      </div>
    </a>
  </div>

  <section class="us-content">
    <div class="us-content__container-img"></div>
    <div class="us-content__container-content">
      <h2 class="us-content__title">Somos <span class="title__color">Garden Store</span></h2>
      <p class="us-content__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, dolores quasi, error temporibus praesentium explicabo expedita necessitatibus ea recusandae fugit sed repellendus! Nam voluptatibus ipsa distinctio debitis cumque? Impedit, iste!
      Deserunt, eaque! Debitis consequatur consectetur, doloremque laudantium voluptates nesciunt, fugit voluptate autem dignissimos praesentium tempora magni veritatis? Ducimus vel fugiat corrupti? Eos consequuntur maiores aliquam vel, autem quos ullam quam!
      Ipsam nam laborum perspiciatis consequatur perferendis. Veritatis quam ad, voluptatem excepturi in pariatur rem, minus, facere maiores sapiente nihil repellat fugiat molestias saepe cumque laboriosam praesentium expedita adipisci minima sunt!</p>
    </div>
  </section>

  <section class="products-featured">

    <div class="products-featured__contianer-title">

      <h3 class="products-featured__title">PRODUCTOS DESTACADOS</h3>
    </div>
    <div class="products-featured__products">

      <article class="products__product">
        <div class="product__header">

          <img src="../../../../assets/imgs/tijeras.jpg" alt="image product" class="product__img">
        </div>
        <div class="product__body">
          <h3 class="product__title">Tijeras</h3>

          <p class="product__description">Tijeras de jardinero para cortar ramas</p>
          <p class="product__price">$1500</p>

          <div class="product__container-btn">
            <button class="product__btn">Ver</button>
          </div>
        </div>
      </article>

      <article class="products__product">
        <div class="product__header">

          <img src="../../../../assets/imgs/tijeras.jpg" alt="image product" class="product__img">
        </div>
        <div class="product__body">
          <h3 class="product__title">Tijeras</h3>

          <p class="product__description">Tijeras de jardinero para cortar ramas</p>
          <p class="product__price">$1500</p>

          <div class="product__container-btn">
            <button class="product__btn">Ver</button>
          </div>
        </div>
      </article>


    </div>
  </section>

  <section class="weoffer">

    <div class="weoffer__container-title">
      <h3 class="weoffer__title">QUE OFRECEMOS</h3>
    </div>
    <div class="weoffer__cards">

      <article class="cards__card" id="products">

        <h3 class="card__title">Productos Jardinería</h3>
        <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, cumque natus vero rerum voluptas quisquam aliquam vitae nulla maxime earum odio reprehenderit consequuntur mollitia fugit ea quo eius delectus quasi?</p>
      </article>

      <article class="cards__card">

        <h3 class="card__title" id="vouchers">Ventas en Línea</h3>
        <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, cumque natus vero rerum voluptas quisquam aliquam vitae nulla maxime earum odio reprehenderit consequuntur mollitia fugit ea quo eius delectus quasi?</p>
      </article>

      <article class="cards__card">

        <h3 class="card__title" id="discounts">Descuentos y Subscripciones</h3>
        <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, cumque natus vero rerum voluptas quisquam aliquam vitae nulla maxime earum odio reprehenderit consequuntur mollitia fugit ea quo eius delectus quasi?</p>
      </article>

      <article class="cards__card" id="dispatch">

        <h3 class="card__title">Despacho a Domicilio</h3>
        <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, cumque natus vero rerum voluptas quisquam aliquam vitae nulla maxime earum odio reprehenderit consequuntur mollitia fugit ea quo eius delectus quasi?</p>
      </article>

    </div>

  </section>

</main>
