<app-header backButton="/login" title="Recuperar Contraseña"></app-header>

<ion-content [fullscreen]="true">

  <div class="container-forgot-password">
    <ion-card>

      <ion-card-header>
        <ion-card-title>Recuperar Contraseña</ion-card-title>
        <ion-card-subtitle>Ingresa tu dirección de correo electrónico para restablecer tu contraseña.</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="forgot-password-container">
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">

            <fieldset>
              <ion-input
                label="Correo Electrónico"
                label-placement="floating"
                fill="solid"
                placeholder="Ingrese un Correo"
                type="email"
                formControlName="email"
              ></ion-input>
              @if(email.invalid && (email.dirty || email.touched)){

                <ion-text color="danger">
                  @if(email.getError("required")){
                    <p>Este campo es requerido.</p>
                  }

                  @if(email.getError("email")){
                    <p>Tiene que ingresar un correo valida.</p>
                  }

                  @if(email.getError("maxlength")){
                    <p>Tiene que ser maximo de 255 caracteres.</p>
                  }
                </ion-text>
              }
            </fieldset>

            <ion-button
              expand="block"
              color="success"
              type="submit"
              [disabled]="forgotPasswordForm.invalid"
            >
              Enviar
            </ion-button>
          </form>

          <ion-button color="primary" expand="block" fill="outline">Volver al inicio sesión</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
