.container-forgot-password{

  display: flex;
  align-items: center;
  height: 100%;

  ion-card{

    padding: 20px 0;

    ion-card-header{

      text-align: center;
      margin-bottom: 10px;

      ion-card-title{
        font-weight: 900;
      }
    }

    ion-card-content{

      div{
        form{

          fieldset{

            border: 0px;

            ion-input{
              width: 100%;
            }
          }
        }
      }
    }
  }
}


