@let userVar = user();
@let listRolesVar = listRoles();
@let selectedRolesVar = selectedRoles();

<div class="container__container-title">
  <h2 class="container__container-title">Actualizar Usuario</h2>
  <button class="container__btn btn btn-primary" [routerLink]="['/admin/users/list']">Volver</button>
</div>

<div class="container__container-form">
  <form novalidate class="container-form__form" [formGroup]="updateUserForm" (ngSubmit)="updateUser()">

    <div class="container-fluid">

      <div class="row">
        <div class="mb-3 col">
          <label for="firstNameInput" class="form-label">Nombre</label>
          <input type="text" class="form-control form__input" id="firstNameInput" formControlName="firstName" [ngClass]="{
            'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched)
          }">
          @if(firstName.getError("required")){
            <span class="invalid-feedback">Este campo es requerido</span>
          }
          @if(firstName.getError("minlength")){
            <span class="invalid-feedback">Tiene que tener un minimo de 3 caracteres</span>
          }
          @if(firstName.getError("maxlength")){
            <span class="invalid-feedback">Tiene que tener un maximo de 20 caracteres</span>
          }
        </div>
        <div class="mb-3 col">
          <label for="lastNameInput" class="form-label">Apellido</label>
          <input type="text" class="form-control form__input" id="lastNameInput" formControlName="lastName" [ngClass]="{
            'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched)
          }">
          @if(lastName.getError("required")){
            <span class="invalid-feedback">Este campo es requerido</span>
          }
          @if(lastName.getError("minlength")){
            <span class="invalid-feedback">Tiene que tener un minimo de 3 caracteres</span>
          }
          @if(lastName.getError("maxlength")){
            <span class="invalid-feedback">Tiene que tener un maximo de 20 caracteres</span>
          }
        </div>
      </div>
      <div class="mb-3">
        <label for="emailInput" class="form-label">Email</label>
        <input type="email" class="form-control form__input" id="emailInput" formControlName="email" [ngClass]="{
          'is-invalid': email.invalid && (email.dirty || email.touched)
        }">
        @if(email.getError("required")){
          <span class="invalid-feedback">Este campo es requerido</span>
        }
        @if(email.getError("email")){
          <span class="invalid-feedback">Tiene que ingresar un correo valido</span>
        }
        @if(email.getError("maxlength")){
          <span class="invalid-feedback">Tiene que tener un maximo de 20 caracteres</span>
        }
      </div>
      <div class="mb-3">
        <label for="phoneInput" class="form-label">Telefono</label>
        <div class="input-group">
          <span class="input-group-text">+569</span>
          <input type="text" class="form-control form__input" id="phoneInput" formControlName="phone" [ngClass]="{
            'is-invalid': phone.invalid && (phone.dirty || phone.touched)
          }">
          @if(phone.getError("required")){
            <span class="invalid-feedback">Este campo es requerido</span>
          }
          @if(phone.getError("pattern")){
            <span class="invalid-feedback">El numero de telefono no es valido</span>
          }
        </div>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="flexCheckDefault" formControlName="active">
        <label class="form-check-label" for="flexCheckDefault">
          Cuenta Activa
        </label>
        <p class="form-text">Esta opción permite dejar las cuentas activadas o no de los usuarios</p>
      </div>
      <div class="container my-5">
        <h2 class="mb-4">Roles</h2>
        <div class="row">
            <div class="col-md-5">
                <h5>Roles Disponibles</h5>
                <select #availableOptions class="form-select" multiple size="10">
                  @for (role of listRolesVar; track $index) {
                    <option [value]="role.idRole">{{role.name}}</option>
                  }
                </select>
            </div>

            <div class="col-md-2 d-flex flex-column align-items-center justify-content-center">
                <button id="moveRight" (click)="moveRight(availableOptions.selectedOptions)" type="button" class="btn btn-primary my-2">&gt;</button>
                <button id="moveLeft" (click)="moveLeft(selectedOptions.selectedOptions)" type="button" class="btn btn-primary my-2">&lt;</button>
            </div>

            <div class="col-md-5">
                <h5>Roles Seleccionados</h5>
                <select #selectedOptions class="form-select" size="10">
                  @for (role of selectedRolesVar; track $index) {
                    <option [value]="role.idRole">{{role.name}}</option>
                  }
                </select>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-5">
                <button id="selectAll" (click)="selectAll()" type="button" class="btn btn-secondary w-100">Seleccionar Todos</button>
            </div>
            <div class="col-md-5 offset-md-2">
                <button id="removeAll" (click)="removeAll()" type="button" class="btn btn-secondary w-100">Remover Todos</button>
            </div>
        </div>
      </div>
      <button type="submit" class="form__btn-create btn btn-success" [disabled]="updateUserForm.invalid">
        Guardar
      </button>
    </div>
  </form>

  <div class="container-fluid information-aditional">

    <header class="container__header">

      <h4 class="header__title">Información Adicional</h4>
    </header>

    <section class="container__content">

      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Ultima Sesión</div>

            @if(userVar.lastLogin){
              {{userVar.lastLogin | date: 'dd/MM/yyyy HH:mm'}}
            } @else {
              No ha iniciado sesión
            }
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Fecha Creación</div>
            {{userVar.createdAt | date: 'dd/MM/yyyy HH:mm'}}
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Fecha Actualización</div>
            {{userVar.updatedAt | date: 'dd/MM/yyyy HH:mm'}}
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Suscripción</div>
            @if(userVar.subscription){
              {{userVar.subscription.status}}
            } @else {
              No tiene ninguna suscripción
            }
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
