@let alertMessageVar = alertMessage();
@let listAddressVar = listAddress();

<div class="container__container-title">
  <h2 class="container__container-title">Crear Proveedor</h2>
  <button class="container__btn btn btn-primary" [routerLink]="['/admin/suppliers/list']">Volver</button>
</div>

<div class="container__container-form">

  <form novalidate class="container-form__form" [formGroup]="updateSupplierForm" (ngSubmit)="updateSupplier()">

    @if(alertMessageVar){
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> El correo o el numero de telefono ya existe
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    }
    <div class="mb-3">
      <label for="nameInput" class="form-label">Nombre Proveedor</label>
      <input type="text" class="form-control form__input" id="nameInput" formControlName="fullName" [ngClass]="{
        'is-invalid': fullName.invalid && (fullName.dirty || fullName.touched)
      }">
      @if(fullName.getError("required")){
        <span class="invalid-feedback">Este campo es requerido</span>
      }
      @if(fullName.getError("minlength")){
        <span class="invalid-feedback">Tiene que tener un minimo de 4 caracteres</span>
      }
      @if(fullName.getError("maxlength")){
        <span class="invalid-feedback">Tiene que tener un maximo de 100 caracteres</span>
      }
    </div>
    <div class="mb-3">
      <label for="rutInput" class="form-label">Rut</label>
      <input type="text" id="rutInput" class="form-control" formControlName="rut" [ngClass]="{
        'is-invalid': rut.invalid && (rut.dirty || rut.touched)
      }">
      @if(rut.getError("required")){
        <span class="invalid-feedback">Este campo es requerido</span>
      }
      @if(rut.getError("pattern")){
        <span class="invalid-feedback">Tiene que ingresar un rut valido</span>
      }
      <div id="passwordHelpBlock" class="form-text">
        Ingrese su rut sin puntos y con guion
      </div>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Telefono</label>
      <div class="input-group">
        <span class="input-group-text form__input" id="basic-addon3">+569</span>
        <input type="text" class="form-control form__input" id="phone" aria-describedby="basic-addon3 basic-addon4" formControlName="phone" [ngClass]="{
          'is-invalid': phone.invalid && (phone.dirty || phone.touched)
        }">
        @if (phone.getError("required")) {
          <span class="invalid-feedback">Este campo es requerido</span>
        }
        @if(phone.getError("pattern")){
          <span class="invalid-feedback">Tiene que ingresar un numero de telefono valido</span>
        }
      </div>
    </div>
    <div class="mb-3">
      <label for="nameInput" class="form-label">Correo</label>
      <input type="email" class="form-control form__input" id="nameInput" formControlName="email" [ngClass]="{
        'is-invalid': email.invalid && (email.dirty || email.touched)
      }">
      @if(email.getError("required")){
        <span class="invalid-feedback">Este campo es requerido</span>
      }
      @if(email.getError("email")){
        <span class="invalid-feedback">Tiene que ingresar un correo valido</span>
      }
      @if(email.getError("maxlength")){
        <span class="invalid-feedback">Tiene que tener un maximo de 255 caracteres</span>
      }
    </div>
    <div class="input-group mb-3">
      <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#createAddressModal">Crear Direccion</button>
      <label for="description" class="input-group-text">Direccion</label>
      <select class="form-select" formControlName="idAddress">
        @for (address of listAddressVar; track $index) {
          <option [value]="address.idAddress">{{address.addressName}}</option>
        }
      </select>
    </div>
    <button type="submit" class="form__btn-create btn btn-success" [disabled]="updateSupplierForm.invalid">
      Guardar
    </button>
  </form>
</div>
