@let listResourcesVar = listResources();
@let listActionsVar = listActions();

<div class="container__container-title">
  <h2 class="container__container-title">Actualizar Permiso</h2>
  <button class="container__btn btn btn-primary" [routerLink]="['/admin/access-control/list']">Volver</button>
</div>

<div class="container__container-form">

  <form novalidate class="container-form__form" [formGroup]="updatePermissionForm" (ngSubmit)="updatePermission()">

    <div class="mb-3">
      <label for="nameInput" class="form-label">Nombre Permiso</label>
      <input type="text" class="form-control form__input" id="nameInput" formControlName="name" [ngClass]="{
        'is-invalid': name.invalid && (name.dirty || name.touched)
      }">
      @if(name.getError("required")){
        <span class="invalid-feedback">Este campo es requerido</span>
      }
      @if(name.getError("maxlength")){
        <span class="invalid-feedback">Tiene que tener un maximo de 100 caracteres</span>
      }
    </div>
    <div class="input-group mb-3">
      <label for="resource" class="input-group-text">Recurso</label>
      <select class="form-select" formControlName="resource">
        @for (resource of listResourcesVar; track $index) {
          <option [value]="resource">{{resource}}</option>
        }
      </select>
    </div>
    <div class="mb-3">
      <label for="resource" class="form-label">Acciones</label>
      @for (action of listActionsVar; track $index) {
        <div class="form-check">
          <input class="form-check-input" type="checkbox" (change)="selectAction($event)" [value]="action" [id]="'firstCheckbox' + $index" validCheckedInput [listActions]="permission().actions">
          <label class="form-check-label" [for]="'firstCheckbox' + $index">{{action | titlecase}}</label>
        </div>
      }
    </div>
    <button type="submit" class="form__btn-create btn btn-success" [disabled]="updatePermissionForm.invalid">
      Guardar
    </button>
  </form>
</div>
