<div class="container-form">
  <div class="container__container-fluid">
    <h2 class="container-fuid__title">Resetear Contraseña <i class='bx bx-reset'></i></h2>
    <div class="container-fuid__messages">
      <p class="messages__message">Su contraseña no puede ser completamente numérica.</p>
      <p class="messages__message">Su contraseña debe contener al menos 8 caracteres.</p>
      <p class="messages__message">Su contraseña no puede ser una clave utilizada comúnmente.</p>
    </div>
    <form class="container-fuid__form" novalidate [formGroup]="formForgotPasswordConfirm" (ngSubmit)="forgotPasswordConfirm()">

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control form__input" id="password" formControlName="newPassword" aria-describedby="passwordHelpBlock" [ngClass]="{
          'is-invalid': newPassword.invalid && (newPassword.dirty || newPassword.touched)
        }" >
        @if(newPassword.getError("required")){
          <span class="invalid-feedback">Este campo es requerido</span>
        }
        @if(newPassword.getError("minlength")){
          <span class="invalid-feedback">Tiene que ser de minimo 8 caracteres</span>
        }
        @if(newPassword.getError("maxlength")){
          <span class="invalid-feedback">Tiene que ser de maximo 50 caracteres</span>
        }
      </div>

      <div class="mb-3">
        <label for="rePassword" class="form-label">Confirmar Contraseña</label>
        <input type="password" class="form-control form__input" id="rePassword" formControlName="newRePassword" aria-describedby="passwordHelpBlock" [ngClass]="{
          'is-invalid': newRePassword.invalid && (newRePassword.dirty || newRePassword.touched)
        }" >
        @if(newRePassword.getError("required")){
          <span class="invalid-feedback">Este campo es requerido</span>
        }
        @if(newRePassword.getError("minlength")){
          <span class="invalid-feedback">Tiene que ser de minimo 8 caracteres</span>
        }
        @if(newRePassword.getError("maxlength")){
          <span class="invalid-feedback">Tiene que ser de maximo 50 caracteres</span>
        }
      </div>
      <!-- <span class="form__errors" *ngIf="formResetPassword.hasError('passordsDontMatch') && (re_new_password.dirty || re_new_password.touched)">Las contraseñas no coinciden</span>
      <span *ngFor="let message of messagePassword" class="form__errors">
        {{message}} <br>
      </span> -->
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success form__btn">Resetear Contraseña</button>
      </div>
    </form>
  </div>
</div>
