@import '../../../../../themes/variables.scss';

.container__container-title{

  display: flex;
  justify-content: space-between;

  .container__btn{

    padding: .6rem 1.4rem;
    transition: background .3s ease-in-out;
  }
}

.container__container-form{
  margin-top: 2rem;

  .container-form__form{

    .form__btn-create{

      padding: 0.6rem 1rem;
      margin-top: 2rem;
      transition: background .3s ease;
    }
  }
}
