<footer class="footer">

  <div class="footer__container-primary">

    <div class="container-primary__continaer-right">
      Telefono <br>
      +56 9 3454 5949
    </div>
    <div class="container-primary__container-left">
      <ul class="container-left__list">
        <li class="list__item">
          <a href="" class="list__link">
            Suscríbete
          </a>
        </li>
        <li class="list__item">
          <a href="" class="list__link">
            Sucursales
          </a>
        </li>
        <li class="list__item">
          <a href="" class="list__link">
            Seguir mi Pedido
          </a>
        </li>
        <li class="list__item">
          <a href="" class="list__link" [routerLink]="['/contact']">
            Contacto
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__container-secondary">

    <div class="container-secondary__info">
      <div class="container-secondary__client-service">
        <h3 class="container-secondary__title">Servicio al Cliente</h3>
        <a href="" class="container-secondary__link">Terminos y Condiciones</a>
        <a href="" class="container-secondary__link">Cambios y Devoluciones</a>
        <a href="" class="container-secondary__link">Política de Reembolso</a>
      </div>

      <div class="container-secondary__garden-store">
        <h3 class="container-secondary__title">Garden Store CL</h3>
        <a href="" class="container-secondary__link">Nosotros</a>
        <a href="" class="container-secondary__link">Registrate</a>
        <a href="" class="container-secondary__link">Boletas Electrónicas</a>
        <a href="" class="container-secondary__link">Recuperar Constraseña</a>
      </div>

    </div>

    <div class="container-secondary__social">
      <a href="" class="social__link"><i class='bx bxl-instagram-alt bx-lg'></i></a>
      <a href="" class="social__link"><i class='bx bxl-youtube bx-lg'></i></a>
      <a href="" class="social__link"><i class='bx bxl-facebook-square bx-lg'></i></a>
      <a href="" class="social__link"><i class='bx bxl-twitter bx-lg'></i></a>
    </div>
  </div>

  <div class="footer__container-tertiary">
    <p>&copy; 2024 Derechos Reservados Garden Store</p>
  </div>
</footer>
