<!-- Page content-->
<div class="container-lg py-5">
  <div class="row">
      <!-- Blog entries-->
      <div class="col-lg-8">
          <!-- Featured blog post-->
          <div class="card mb-4">
              <img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." />
              <div class="card-body">
                  <div class="small text-muted">January 1, 2023</div>
                  <div class="d-flex flex-wrap w-50">
                  <span class="badge text-bg-success m-1">Noticia</span>
                  <span class="badge text-bg-success m-1">Historia</span>
                  </div>
                  <h2 class="card-title">Featured Post Title</h2>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                  <div class="container-fluid d-flex justify-content-between">
                  <div class="row">
                      <div class="col d-flex">
                      <a class="bg-success-subtle rounded-start text-bg-info p-2 text-decoration-none">
                          <i class='bx bxs-like'></i>
                          <span class="ms-1">12</span>
                      </a>
                      <a class="bg-success-subtle rounded-end text-bg-info p-2 text-decoration-none">
                          <i class='bx bxs-dislike'></i>
                          <span class="ms-1">1</span>
                      </a>
                      <a class="bg-success-subtle rounded text-bg-info p-2 text-decoration-none mx-2">
                          <i class='bx bxs-show'></i>
                          <span class="ms-1">42</span>
                      </a>
                      </div>
                  </div>
                  <a class="btn btn-outline-success" href="#!">Ver Publicación →</a>
                  </div>
              </div>
          </div>
          <!-- Nested row for non-featured blog posts-->
          <div class="row">
              @for (post of listPosts(); track $index) {
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <img class="card-img-top" [ngSrc]="urlImages() + post.thumbnail" height="300" width="700" alt="imagen de publicacion" priority/>
                        <div class="card-body">
                            <div class="small text-muted">{{post.createdAt | date: 'longDate'}}</div>
                            <div class="d-flex flex-wrap w-100">

                              @for (tag of post.tags; track $index) {
                                <span class="badge text-bg-success me-1 my-2">{{tag.name}}</span>
                              }
                            </div>
                            <h2 class="card-title h4">{{post.title}}</h2>
                            <p class="card-text">{{post.content}}</p>
                            <div class="container-fluid d-flex justify-content-between">
                              <div class="row">
                                <div class="col d-flex">
                                  <a class="bg-success-subtle rounded-start text-bg-info p-2 text-decoration-none">
                                    <i class='bx bxs-like'></i>
                                    <span class="ms-1">{{post.likes}}</span>
                                  </a>
                                  <a class="bg-success-subtle rounded-end text-bg-info p-2 text-decoration-none">
                                    <i class='bx bxs-dislike'></i>
                                    <span class="ms-1">{{post.dislikes}}</span>
                                  </a>
                                  <a class="bg-success-subtle rounded text-bg-info p-2 text-decoration-none mx-2">
                                    <i class='bx bxs-show'></i>
                                    <span class="ms-1">{{post.views}}</span>
                                  </a>
                                </div>
                              </div>
                              <div>
                                <a class="btn btn-primary" [routerLink]="['/detail-blog', post.slug]">Ver →</a>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
              }
          </div>
          <!-- Pagination-->
          <nav aria-label="Pagination">
              <hr class="my-0" />
              <ul class="pagination justify-content-center my-4">
                  <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a></li>
                  <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                  <li class="page-item"><a class="page-link" href="#!">2</a></li>
                  <li class="page-item"><a class="page-link" href="#!">3</a></li>
                  <li class="page-item"><a class="page-link" href="#!">Siguiente</a></li>
              </ul>
          </nav>
      </div>
      <!-- Side widgets-->
      <div class="col-lg-4">
          @if (validSession()) {
              <div class="card mb-4">
              <div class="card-header">Gestionar Publicaciones</div>
              <div class="card-body">
                  <a class="btn btn-primary" [routerLink]="['/manage-posts/create']">Crear Publicación</a>
                  <a class="btn btn-primary" [routerLink]="['/manage-posts/list']">Mis Publicaciones</a>
              </div>
              </div>
          }
          <!-- Search widget-->
          <div class="card mb-4">
              <div class="card-header">Buscador</div>
              <div class="card-body">
                  <div class="input-group">
                      <input class="form-control" type="search" placeholder="Busca..." aria-label="Busca..." aria-describedby="button-search" />
                      <button class="btn btn-primary" id="button-search" type="button">
                          <i class='bx bx-search-alt-2 bx-xs'></i>
                      </button>
                  </div>
              </div>
          </div>
          <!-- Categories widget-->
          <div class="card mb-4">
              <div class="card-header">Etiquetas</div>
              <div class="card-body">
                  <div class="row">
                      @for (tag of listTags(); track $index) {
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><button type="button" class="btn btn-success my-1">{{tag.name}}</button></li>
                            </ul>
                        </div>
                      }
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
