@import '../../../../themes/variables.scss';

.container-main{

  height: 100vh;
  background: linear-gradient(300deg, $color-light, $color-dark);
  display: flex;
  align-items: center;
  justify-content: center;

  .container-main__container{

    background-color: $color-light;
    width: 500px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .container__container-title{

      text-align: center;

      .container__title{
        margin-bottom: 3rem;
        font-weight: bold;
      }
    }

    .container__form{

      div{
        .form__btn{
          padding: .6rem 0;
        }

        .form__link{

          margin-bottom: 1.4rem;
          color: $color-dark;
          transition: all .3s ease-in-out;
          text-decoration: underline;
          display: inline-block;

          &:hover{

            color: $color-success-600;
          }
        }
      }
    }
  }
}

.otp-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.otp-digit {
  width: 40px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.otp-digit:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
