<div class="container-fluid container-main">
  <div class="container-main__container">

    <div class="container__container-title">
      <h2 class="container__title">Panel de Administración</h2>
    </div>

    <form novalidate class="container__form" [formGroup]="formLoginAdmin" (ngSubmit)="loginAdmin()">

      <fieldset class="form-floating mb-4">

        <input type="text" class="form-control" id="emailInput" placeholder="name@example.com" formControlName="email" [ngClass]="{
          'is-invalid': email.invalid && (email.dirty || email.touched)
        }">
        <label for="emailInput" class="form-label">Correo</label>

        @if(email.getError("required")){
          <span class="invalid-feedback">Este campo es requerido</span>
        }
        @if(email.getError("email")){
          <span class="invalid-feedback">Tiene que ingresar un correo valido</span>
        }
        @if(email.getError("maxlength")){
          <span class="invalid-feedback">Tiene que tener un maximo de 255 caracteres</span>
        }

      </fieldset>

      <fieldset class="form-floating mb-4">
        <input type="password" class="form-control" id="passwordInput" placeholder="password" formControlName="password" [ngClass]="{
          'is-invalid': password.invalid && (password.dirty || password.touched)
        }">
        <label for="passwordInput" class="form-label">Contraseña</label>

        @if(password.getError("required")){
          <span class="invalid-feedback">Este campo es requerido</span>
        }
        @if(password.getError("minlength")){
          <span class="invalid-feedback">Tiene que tener un minimo de 6 caracteres</span>
        }
        @if(password.getError("maxlength")){
          <span class="invalid-feedback">Tiene que tener un maximo de 50 caracteres</span>
        }
      </fieldset>

      <div class="d-grid gap-2">
        <a href="" [routerLink]="['/auth/forgot-password']" class="form__link">Olvide mi contraseña</a>
        <button type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success form__btn">Iniciar Sesion</button>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese el código</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form novalidate>
          <div class="otp-container">
            <div class="otp-input">
              @for (item of otpArray(); track $index) {
                <input type="text" maxlength="1" class="otp-digit" #otpDigit
                (input)="onInput($event, $index)" (keydown)="onKeydown($event, $index)" [autofocus]="$index === 0">
              }
            </div>
          </div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" (click)="sendOTP()" class="btn btn-primary" data-bs-dismiss="modal">Enviar Codigo</button>
        </form>
      </div>
    </div>
  </div>
</div>
