@import '../../../../themes/variables.scss';

.container-main{
  margin: 2rem 0;

  .container-main__container-main-products{

    width: 90%;
    margin: auto;
    background-color: $color-light;
    margin-top: 2rem;
    padding: 3rem;
    box-shadow: 4px 4px 8px -6px $color-dark-300;

    .container-main__container-products{

      margin-bottom: 4rem;

      .container-products__title{
        font-size: 2rem;
      }

      hr{
        margin: 2rem 0;
      }

      .container-products__products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;

        @media screen and (max-width: 1600px) {

          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }
  }

}

@media screen and (max-width: 1250px) {

  .container-main{

    .container-main__container-main-products{

      .container-main__container-products{

        .container-products__products{

          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}


@media screen and (max-width: 860px) {

  .container-main{

    .container-main__continaer-inputs{
      flex-direction: column;
      width: 100%;

      .contianer-inputs__container-search{

        width: 100%;
      }

      .container-inputs__container-filter{

        justify-content: center;
        margin-top: 1.4rem;
      }
    }

    .container-main__container-main-products{

      width: 100%;
      padding: 0;

      .container-main__container-products{

        .container-products__title{

          text-align: center;
          padding: 2rem;
        }

        hr{
          margin: 0 1rem;
        }


        .container-products__container-message{

          margin-top: 2rem;

          p{
            text-align: center;
          }
        }
      }

      .container-main__container-btn-pages{

        justify-content: center;
        padding-bottom: 2rem;
      }



    }
  }
}

@media screen and (max-width: 500px) {

  .container-main{

    .container-main__container-main-products{

      .container-main__container-products{


        .container-products__products{

          grid-template-columns: 1fr;
        }
      }
    }
  }
}
