@let listProductsVar = listProducts();
@let listCategoriesVar = listCategories();
@let currentPageVar = currentPage();
@let isLoadingVar = isLoading();

<main class="container-main">
  <app-search (inputSearch)="searchProduct($event)" [listModels]="listCategoriesVar"></app-search>

  <div class="container-main__container-main-products">
    <div class="container-main__container-products">
      <h2 class="container-products__title">Productos</h2>
      <hr>
      @defer (when isLoadingVar) {
        <div class="container-products__products">
          @for (product of listProductsVar; track $index) {
            <app-card [product]="product" [reload]="false"></app-card>
          } @empty {

            <div class="container-products__container-message">
              <p>No se han encontrado productos</p>
            </div>
          }
        </div>
      } @placeholder {
        <div class="container-fluid d-flex justify-content-center w-100">
          <div class="py-lg-5">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
      }
    </div>

    <nav aria-label="Page navigation container-main__container-btn-pages">
      <ul class="pagination container-btn-pages__list m-0">
        <li class="page-item container-btn-pages__item">
          <button (click)="previousPage()" class="page-link text-black" [disabled]="getService.prevPage">
            Anterior
          </button>
        </li>
        <li class="page-item container-btn-pages__item">
          <p class="page-link text-black m-0">{{currentPageVar}}</p>
        </li>
        <li class="page-item container-btn-pages__item">
          <button (click)="nextPage()" class="page-link text-black" [disabled]="getService.nextPage">
            Siguiente
          </button>
        </li>
      </ul>
    </nav>
  </div>
</main>
